footer {
    background-color: #e4ccec;
    width: 100%;
    height: fit-content;
}

footer > div {
    display: block;
    margin: auto;
    width: 40%;
    text-align: center;
    padding: 10px 0;
}

footer > div > a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.767);
    margin: 0 20px;
    padding: 15px 0 10px 0;
}

footer > div > a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer > div > p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.767);
    margin: 0 20px;
    padding: 15px 0 5px 0;
}

/* RESPONSIVE */
/* tablets */
@media only screen and (min-device-width: 500px) and (max-device-width: 770px) {     
    footer > div {
        width: 50%;
        padding: 20px 0;
    }
    
    footer > div > a {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.767);
        margin: 0 20px;
        padding: 15px 0 10px 0;
    }
    
    footer > div > p {
        font-size: 18px;
    }
}
/* phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    footer > div {
        width: 100%;
        padding: 20px 0;
    }
    
    footer > div > a {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.767);
        margin: 0;
        padding: 15px 0 10px 0;
    }
    
    footer > div > p {
        margin: 0;
        font-size: 16px;
    }
}
/* RESPONSIVE */