section.hero__guide {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/bg/image00006.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.guide__container {
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    padding-top: 250px;
    padding-bottom: 200px;
    background-color: rgba(0, 0, 0, 0.062);
}

.guide__container > a.social.fa {
    display: inline-block;
    width: 40px; /*line-hight + padding * 2 = 40px */
    margin: 40px 0;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    /* color: rgb(0, 0, 0); */
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
    border: 0.5px solid rgb(255, 255, 255);
}
  
.guide__container > a.social.fa:hover {
    background-color: rgb(46, 46, 46);
    color: #fff;
}

.guide__container > h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 600;
    padding: 40px 0;
    color: #fff;
}

.guide__container > h3 {
    display: block;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

section.guide__data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

div.guide__data__container {
    width: 100%;
    margin: 0;
    padding: 40px 0;
}

div.guide__data__element {
    width: 100%;
    margin: auto;
    text-align: center;
}

div.guide__data__element > img {
    width: 370px;
    height: 500px;
    border-radius: 10px;
}
div.guide__data__element > h3 {
    width: 80%;
    margin: auto;
    padding: 15px 0;
    font-size: 20px;
}
div.guide__data__element > p {
    width: 100%;
}
div.guide__data__element > a{
    display: block;
    text-decoration: none;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    border-radius: 30px;
    border: 1px solid black;
}

/* RESPONSIVE */
@media only screen and (min-device-width: 500px) and (max-device-width: 780px) {  
    section.hero__guide {
        /* width: 100%;
        height: 100vh;
        background-image: url(../../img/bg/image00023.jpeg);
        */
    }
    
    .guide__container {
        padding: 0 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .guide__container > a.social.fa {
        margin: 20px 0;
    } 
    
    .guide__container > h1 {
        font-size: 30px;
        padding: 20px 0;
        color: #fff;
    }
    
    .guide__container > h3 {
        font-size: 18px;
        color: #fff;
    }
    
    section.guide__data {
        width: 100%;
        height: fit-content;
        padding: 50px 0;
        display: block;
        grid-template-columns: none;
    }
    
    div.guide__data__container {
        width: 80%;
        margin: auto;
        padding: 40px 0;
    }
    
    div.guide__data__element {
        width: 100%;
    }

    div.guide__data__element > h3 {
        padding: 20px 0;
        font-size: 20px;
    }

}

/* phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    section.hero__guide {
        height: 100vh;
        background-image: url(../../img/bg/image00023.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .guide__container {
        padding: 0 20px;
        padding-top: 200px;
        padding-bottom: 100px;
    }
    
    .guide__container > a.social.fa {
        margin: 10px 0;
    } 
    
    .guide__container > h1 {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
        color: #fff;
    }
    
    .guide__container > h3 {
        font-size: 18px;
        color: #fff;
    }
    
    section.guide__data {
        width: 100%;
        height: 1442px;
        height: fit-content;
        padding: 30px 0;
        display: block;
        grid-template-columns: none;
    }
    
    div.guide__data__container {
        width: 90%;
        margin: auto;
        padding: 40px 0;
    }
    
    div.guide__data__element {
        width: 100%;
    }
    
    div.guide__data__element > img {
        width: 100%;
        height: auto;
    }

    div.guide__data__element > h3 {
        padding: 20px 0;
        font-size: 16px;
    }

    div.guide__data__element > a {
        text-align: center;
        width: 230px;
        padding: 10px 30px;
        font-size: 18px;
        color: black;
    }
}
/* RESPONSIVE */