section.hero__guide {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.guide__container {
    width: 100%;
    height: fit-content;
    padding: 0 150px;
    padding-top: 100px;
}

.guide__container > a.social.fa {
    display: inline-block;
    width: 40px; /*line-hight + padding * 2 = 40px */
    margin: 40px 0;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    color: rgb(146, 144, 144);
    border-radius: 50%;
    transition: all 0.5s;
}
  
.guide__container > a.social.fa:hover {
    background-color: rgb(148, 142, 142);
    color: var(--main-color);
}

.guide__container > h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 600;
    padding: 40px 0;
}

.guide__container > h3 {
    display: block;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
}

section.guide__data {
    width: 100%;
    height: fit-content;
    padding: 50px 0;
}