section.hero__jaunav {
    width: 100%;
    height: 100vh;
    /* background-image: url(/img/bg/image00015m.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jaunav__container {
    width: 100%;
    height: fit-content;
    padding: 0 150px;
    padding-top: 100px;
}

.jaunav__container > h1 {
    display: block;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 600;
    padding: 40px 0;
}

.jaunav__container > h3 {
    display: block;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
}

.jaunav__container > a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 60px;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 30px;
}

section.jaunav__about {
    width: 100%;
    height: 100vh;
}

.jaunav__about__container {
    width: 100%;
    height: 100vh;
    padding: 0px 170px 50px 170px;
    /* position: relative; */
}

div.about_left {
    display: inline-block;
    width: 45%;
    height: 100%;
    float: left;
}

div.about_left > h3 {
    font-size: 40px;
    padding: 40px 0px 10px 0px;
}

div.about_left > p {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    padding: 20px 0px;
}
/* --------------   IMG GALLERY START  -------------- */
div.about_right {
    display: inline-block;
    width: 45%;
    height: 100%;
    float: right;
}

div.about_right > div.carousel.slide > div.carousel-inner  {
    height: 700px;
}

/* --------------   IMG GALLERY END   -------------- */

section.jaunav__statments {
    /* background-color: rgb(60, 153, 125); */
    width: 100%;
    /* height: 400px; */
    background-image: url(../../img/bg/image00012m.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

div.jaunav__statments__container {
    /* background-color: rgb(96, 202, 114); */
    width: 100%;
    /* height: fit-content; */
    /* height: auto; */
    padding: 30px 170px 0px 170px;
}

div.jaunav__statments__container > h3 {
    display: block;
    width: 100%;
    padding: 20px 0px 40px 0px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

div.statment__container {
    padding-top: 20px;
    margin: 0px 20px;
}

div.statment {
    display: inline-block;
    width: 30%;
    margin: 0;
    position: relative;
}

div.statment.bg-text > p {
    padding: 50px 20px 20px 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    color: aliceblue;
}
div.statment.bg-text::before {
    color: rgba(255, 255, 255, 0.404);
    content: attr(data-bg-text);
    display: block;
    font-size: 90px;
    line-height: 1;
    position: absolute;
    bottom: auto;
    right: 250px;   
}

section.jaunav__program {
    width: 100%;
    height: 80vh;
}

.jaunav__program__container {
    width: 100%;
    padding: 80px 170px 70px 170px;
    height: 100%;
}

.jaunav__program__container > h3{
    display: block;
    width: 100%;
    padding: 20px 0px 40px 0px;
    text-align: center;
    font-size: 60px;
    color: black;
}

.jaunav__program__container > div.statment__container {
    position: relative;
    height: 200px;
}

.jaunav__program__container > div.statment__container > div.statment {
    height: fit-content;
}

div.jaunav__program__container > div.statment__container > div.statment.bg-text::before {
    color: rgba(0, 0, 0, 0.404);
}

div.jaunav__program__container > div.statment__container > div.statment > p.statment_front {
    color: black;
}

section.jaunav__payment__plan {
    width: 100%;
    height: 100vh;
}

div.jaunav__payment__container {
    padding: 30px 100px;
    text-align: center;
}

div.jaunav__payment__container > h2{
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

div.payment__info {
    background-color: rgb(209, 209, 209);
    border: 1px solid black;
    border-radius: 5px;
    height: fit-content;
    width: 500px;
    height: 500px;
    margin: auto;
    text-align: left;
}

div.payment__info > h3 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
}

div.payment__info > h4 {
    width: 100%;
    padding: 20px 0;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
}

div.payment__info > p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0px 70px;
    color: rgba(95, 94, 94, 0.705);
    border-top: 1px solid black;
}

div.payment__info > ul {
    margin: 40px 0;
}

div.payment__info > ul > li {
    margin: 0px 20px;
    padding: 20px 0;
    list-style: none;
}

div.jaunav__payment__container > a {
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    padding: 15px 45px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
}

section.jaunav__faq {
    width: 100%;
    height: fit-content;
}

div.jaunav__faq__container {
    margin: 0px 300px;
    height: fit-content;
}

button.accordion {
    background-color: white;
    color: #444;
    width: 100%;
    cursor: pointer;
    padding: 18px;
    margin: 1px 0;
    text-align: left;
    font-size: 13px;
    border: none;
    border-top: 1px solid black;
    outline: none;
    transition: 0.4s;
}

button.accordion.last {
    border-bottom: 1px solid black;
}

button.accordion:hover {
    background-color: rgba(235, 235, 235, 0.623);
}

/* 
.active, .accordion:hover {
    background-color: white;
} */

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.panel > p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* div.accordion.active.last > div.panel.last {
    border-bottom: 1px solid black;
} */

/* RESPONSIVE */
/* tablets */
@media only screen and (min-device-width: 500px) and (max-device-width: 780px) {  
    section.hero__jaunav {
        width: 100%;
        height: 1000px;
    }

    .jaunav__container {
        padding: 0 50px;
        /* padding-top: 100px; */
    }
    
    .jaunav__container > h1 {
        font-size: 30px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .jaunav__container > h3 {
        font-size: 25px;
    }
    
    .jaunav__container > a {
        font-size: 20px;
    }
    
    section.jaunav__about {
        height: fit-content;
    }
    
    div.jaunav__about__container {
        display: inline-block;
        width: 100%;
        height: fit-content;
        padding: 50px 30px 50px 30px;
    }
    
    div.about_left {
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 0px 20px;
    }
    
    div.about_left > h3 {
        font-size: 50px;
    }
    
    div.about_left > p {
        font-size: 25px;
    }
    /* --------------   IMG GALLERY START  -------------- */
    div.about_right {
        display: block;
        width: 100%;
        height: 900px;
    }
    
    div.about_right > div.carousel.slide > div.carousel-inner  {
        width: auto;
        height: 900px;
    }
    
    /* --------------   IMG GALLERY END   -------------- */
    
    section.jaunav__statments {
        width: 100%;
        height: 800px;
        background-image: url(../../img/bg/image00012m.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    div.jaunav__statments__container {
        width: 100%;
        padding: 30px 50px 0px 50px;
    }

    div.statment {
        display: inline-block;
        width: 100%;
    }
    
    div.statment.bg-text > p {
        padding: 50px 20px 20px 20px;
        font-size: 25px;
    }
    div.statment.bg-text::before {
        color: rgba(255, 255, 255, 0.404);
        display: block;
        font-size: 90px;
        bottom: auto;
        left: -25px;   
    }
  
    section.jaunav__program {
        width: 100%;
        height: 1000px;   
    }
    
    div.jaunav__program__container {
        display: block;
        height: 1000px;
        padding: 80px 100px 70px 100px;
    }
    
    div.jaunav__program__container > h3{
        font-size: 35px;
    }
    
    div.jaunav__program__container > div.statment__container {
        position: relative;
        height: 200px;
    }
    
    div.jaunav__program__container > div.statment__container > div.statment {
        height: fit-content;
    }
    
    div.jaunav__program__container > div.statment__container > div.statment.bg-text::before {
        color: rgba(0, 0, 0, 0.144);
    }
    
    div.jaunav__program__container > div.statment__container > div.statment > p.statment_front {
        color: black;
    }

    section.jaunav__payment__plan {
        margin-top: 10px;
        width: 100%;
        height: fit-content;
    }

    div.jaunav__payment__container {
        width: 100%;
    }
    
    div.jaunav__payment__container > h2{
        font-size: 35px;
    }
    
    div.payment__info {
        width: 100%;
        height: fit-content;
        background-color: rgb(209, 209, 209);
        border: 1px solid black;
        border-radius: 10px;
    }
    
    div.payment__info > h3 {
        font-size: 35px;
    }
    
    div.payment__info > h4 {
        font-size: 30px;
    }
    
    div.payment__info > p {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px 60px;
        color: rgba(95, 94, 94, 0.705);
        border-top: 1px solid black;
    }
    
    div.payment__info > ul {
        margin: 40px 0;
    }
    
    div.payment__info > ul > li {
        font-size: 20px;
    }
    
    div.jaunav__payment__container > a {
        background-color: rgba(255, 255, 255, 0);
        padding: 15px 50px;
        color: black;
        border: 1px solid black;
        font-size: 20px;
    }

    section.jaunav__faq {
        margin-top: 50px;
    }
    
    div.jaunav__faq__container {
        margin: 0px 100px;
        height: fit-content;
    }
    
    button.accordion {
        background-color: white;
        color: #444;
        width: 100%;
        cursor: pointer;
        padding: 18px;
        margin: 1px 0;
        text-align: left;
        font-size: 20px;
        border: none;
        border-top: 1px solid black;
        outline: none;
        transition: 0.4s;
    }
    
    /* button.accordion.last {
        border-bottom: 1px solid black;
    }
    
    button.accordion:hover {
        background-color: rgba(235, 235, 235, 0.623);
    } */
    
    /* 
    .active, .accordion:hover {
        background-color: white;
    } */
    
    div.panel > p {
        font-size: 18px;
    }
    /* div.accordion.active.last > div.panel.last {
        border-bottom: 1px solid black;
    } */
}
/* phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    section.hero__jaunav {
        height: 100vh;
        height: fit-content;
    }

    .jaunav__container {
        padding: 0 10px;
        text-align: center;
    }
    
    .jaunav__container > h1 {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .jaunav__container > h3 {
        font-size: 18px;
    }
    
    .jaunav__container > a {
        font-size: 18px;
        padding: 10px 25px;
    }

    section.jaunav__about {
        height: 1370px;
    }
    
    div.jaunav__about__container {
        display: inline-block;
        width: 100%;
        padding: 20px 10px 10px 10px;
        height: fit-content;
    }
    
    div.about_left {
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 0px 10px;
    }
    
    div.about_left > h3 {
        font-size: 25px;
        font-weight: 700;
    }
    
    div.about_left > p {
        font-size: 16px;
        padding: 15px 0;
    }
    /* --------------   IMG GALLERY START  -------------- */
    a.carousel-control-prev {
        display: none;
    }

    a.carousel-control-next {
        display: none;
    }

    ol.carousel-indicators {
        display: none;
    }

    div.about_right {
        display: block;
        width: 100%;
        height: 550px;
    }
    
    div.about_right > div.carousel.slide > div.carousel-inner  {
        width: auto;
        height: 550px;
    }
    
    /* --------------   IMG GALLERY END   -------------- */
    
    section.jaunav__statments {
        height: 800px;
        background-image: url(../../img/bg/image00012m.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    div.jaunav__statments__container {
        width: 100%;
        padding: 30px 20px 0px 20px;
    }

    div.statment {
        display: inline-block;
        width: 100%;
    }
    
    div.statment.bg-text > p {
        padding: 50px 20px 20px 20px;
        font-size: 18px;
    }
    div.statment.bg-text::before {
        color: rgba(255, 255, 255, 0.404);
        display: block;
        font-size: 90px;
        bottom: auto;
        left: -20px;   
    }
    
    section.jaunav__program {
        width: 100%;
        height: 800px;   
    }
    
    div.jaunav__program__container {
        display: block;
        height: 800px;
        padding: 30px 10px 30px 10px;
    }
    
    div.jaunav__program__container > h3{
        font-size: 30px;
    }
    
    div.jaunav__program__container > div.statment__container {
        position: relative;
        height: 200px;
    }
    
    div.jaunav__program__container > div.statment__container > div.statment {
        height: fit-content;
    }
    
    div.jaunav__program__container > div.statment__container > div.statment.bg-text::before {
        color: rgba(0, 0, 0, 0.144);
    }
    
    div.jaunav__program__container > div.statment__container > div.statment > p.statment_front {
        color: black;
    }
    /* HERE */
    section.jaunav__payment__plan {
        margin-top: 10px;
        width: 100%;
        height: 637px;
        height: fit-content;
    }

    div.jaunav__payment__container {
        width: 100%;
        padding: 0px 20px;
    }
    
    div.jaunav__payment__container > h2{
        font-size: 25px;
    }
    
    div.payment__info {
        width: 100%;
        height: 465px;
        background-color: rgb(209, 209, 209);
        border: 1px solid black;
        border-radius: 10px;
    }
    
    div.payment__info > h3 {
        font-size: 25px;
        font-weight: 600;
    }
    
    div.payment__info > h4 {
        margin: auto;
        width: 70%;
        font-size: 30px;
        border-bottom: 1px solid black;
    }
    
    div.payment__info > p {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px 10px;
        color: rgba(95, 94, 94, 0.705);
        border: none;
    }
    
    div.payment__info > ul {
        margin: 20px 0;
    }
    
    div.payment__info > ul > li {
        font-size: 16px;
    }
    
    div.jaunav__payment__container > a {
        background-color: rgba(255, 255, 255, 0);
        padding: 15px 50px;
        color: black;
        border: 1px solid black;
        font-size: 20px;
    }

    section.jaunav__faq {
        margin-top: 100px;
    }
    
    div.jaunav__faq__container {
        margin: 0px 20px;
        height: fit-content;
    }
    
    button.accordion {
        background-color: white;
        color: #444;
        font-size: 18px;

    }
    
    /* button.accordion.last {
        border-bottom: 1px solid black;
    }
    
    button.accordion:hover {
        background-color: rgba(235, 235, 235, 0.623);
    } */
    
    /* 
    .active, .accordion:hover {
        background-color: white;
    } */
    
    div.panel > p {
        font-size: 16px;
    }
    /* div.accordion.active.last > div.panel.last {
        border-bottom: 1px solid black;
    } */
}
/* RESPONSIVE */